html, body {
  height: 100%;
  font-size: 14px;
}
.hero-title{
  font-size: 7rem !important;
}

.hero-subtitle{
  font-size: 2rem !important;
}

.hero{
  background: url('assets/images/hero.jpg');
  color: #FFF;
}
.table-of-content{
  background: url('assets/images/table-of-content.jpg');
  color: #FFF;
}
.oop{
  background-image: url('assets/images/oop-background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
}
.oop_examples{
  background-image: url('assets/images/oop.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #FFF ;
  width: 100%;

}

.oop-requirement-models{ /*lumaque's part*/
  background-image: url('assets/images/reqmodels.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
}

/* 
.blend-container{
  position: absolute;
  width: 96%;
  height: 90%;
  background-color: gray;
  opacity: .1;
  display: block;
  z-index: 0;
  top: 0;
} */

.oop-models-answers{
  color: white;
  background-color: rgba(220,220,220,0.1);
}

.parallax-background{
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  min-height: 100% !important;
  width: 100%;
}

.text-heading{
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-montserrat{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  /* identical to box height */
  letter-spacing: 0.15em;
}

/* oop page title and definition style*/
.text-small{
  font-size: 1rem !important; /* text style definition */
}

.toc-title{
  font-size: 1.75rem !important;
  text-decoration: none;
}

.bg-custom-gray{
  background-color: #8f8f8f;
}

.team-text{
  font-size: 14px;
  letter-spacing: 0;
  color: #FFF !important;
  letter-spacing: none !important;
}

.team-heading{
  font-size: 1rem !important;
  letter-spacing: 0 !important;
  color: #FFF !important;
  letter-spacing: none !important;
}

.team-title{
  text-shadow: none;
}

.team-card-bg-2{
  background-color: #fff;
}

.team-text-2{
  font-size: .75rem !important;
  letter-spacing: 0;
  color: #000 !important;
  letter-spacing: none !important;
}

.team-heading-2{
  font-size: 1rem !important;
  letter-spacing: 0 !important;
  color: #000 !important;
  letter-spacing: none !important;
}

/* OOP page styling */
.mg-style{
  margin: 3.5rem auto; /* margin for title and definition text*/
}
.text-shadow{
  text-shadow:-7px 7px rgb(0, 0, 0);  /* text shadow for title */
}

.grow { 
  cursor: pointer;
  transition: all .15s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.1); 
}

a {color:#FFF;}         /* Unvisited link  */
a:visited {color:#FFF;} /* Visited link    */
a:hover {color:gainsboro;}   /* Mouse over link */
a:active {color:#FFF;}  /* Selected link   */

#scrollToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
}

#scrollToTop:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#scrollToTop:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 768px) {
  .text-heading{
  font-size: 2rem !important;
  }
  .hero-title{
    font-size: 3rem !important;
  }
  .hero-subtitle{
    font-size: 1rem !important;
  }
  .toc-title{
  font-size: 1rem !important;
  }
  .mg-style{
    margin: 1rem auto; /* margin for title and definition text*/
  }
} 