<div>
  <h1 class="text-heading team-title">ACTIVITY GALLERY</h1>
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/1.PNG" alt="1.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/2.PNG" alt="2.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/3.PNG" alt="3.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/4.PNG" alt="4.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/5.PNG" alt="5.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/6.PNG" alt="6.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/7.PNG" alt="7.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/8.PNG" alt="8.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/9.PNG" alt="9.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/10.PNG" alt="10.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/11.PNG" alt="11.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/12.PNG" alt="12.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/13.PNG" alt="13.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/14.PNG" alt="14.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/15.PNG" alt="15.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/16.PNG" alt="16.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/17.PNG" alt="17.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/18.PNG" alt="18.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/19.PNG" alt="19.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/20.PNG" alt="20.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/21.PNG" alt="21.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/22.PNG" alt="22.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/23.PNG" alt="23.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/24.PNG" alt="24.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/25.PNG" alt="25.PNG">
      </div>
      <div class="col-lg-4 col-md-6 p-4 mx-auto">
        <img class="img-fluid" src="assets/images/activity-gallery/26.PNG" alt="26.PNG">
      </div>
    </div>
  </div>
</div>