<div class="w-100">
    <div class="p-5 col-12 d-block">
      <h1 class="text-heading team-title text-light mg-style text-shadow">What are OOP Requirements Models?</h1>
    </div>
    <div class="p-3 d-flex h-100">
      <!-- <div class="blend-container">
       
      </div> -->
      <div class="p-3 oop-models-answers"> <!--background color for answers-->
        <ul class="text-montserrat text-light text-small">
       <li>
         Class Model - The class model displays all the classes that exist in the system. The class model depicts the properties and behavior of the objects. The class diagram depicts the class model. The class diagram displays the class name, followed by the attributes, and then the functions or methods that relates to the class's object. The goal of creating a class model is to capture real-world concepts that are relevant to an application.
       </li>
       <li>
         State Model - The state model defines the characteristics of objects that deal with time and the ordering of functions, and events that signal changes, states that provide the context for events, and the arrangement of events and states. In a state diagram, actions and events become operations on objects in the class model. The state model is described by a state diagram.
       </li>
       <li>
         Interaction Model - The interaction model is used to depict the numerous interactions between items and how the elements work together to create the system's overall behavior.
         <ul>
           <li>
             The following diagrams are used to show the interaction model:
             <ul>
               <li>
                 Use Case Diagram
               </li>
               <li>
                 Sequence Diagram
               </li>
               <li>
                 Activity Diagram
               </li>
             </ul>
           </li>
         </ol>
       </li>
     </ul>
   </div>
  </div>
</div>