<style>
    #scrollToTop {
      position: fixed;
      right: 50px;
      bottom: 50px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border: none;
      outline: none;
      cursor: pointer;
    }
  
    #scrollToTop:hover {
      width: 63px;
      height: 63px;
      right: 48px;
      bottom: 48px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    #scrollToTop:active {
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }
  </style>
  
  <button id="scrollToTop" class="bg-custom-gray">
    <i class="bi bi-arrow-up" style="color: white;"></i>
  </button>
  
  <script>
    document.querySelector("#scrollToTop").addEventListener("click", function () {
      window.scrollTo(0, 0);
    });
  </script>
  