<div>
  <h1 class="text-heading team-title">OUR TEAM</h1>
  <div class="container py-5">
    <div class="px-5 row">
      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/medina.jpg" alt="medina.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Medina">
        <h2 class="mb-0 text-montserrat team-heading-2">Medina, Joshua Merwin V.</h2>
        <p class="text-montserrat team-text-2">Software Engineer</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/ayap.jpg" alt="ayap.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Ayap">
        <h2 class="mb-0 text-montserrat team-heading-2">Ayap, Kathleen Shayne</h2>
        <p class="text-montserrat team-text-2">Documentation Specialist</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/corales.jpg" alt="corales.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Corales">
        <h2 class="mb-0 text-montserrat team-heading-2">Corales, Mark Reinell S.</h2>
        <p class="text-montserrat team-text-2">Project Manager</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/cruz.jpg" alt="cruz.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Cruz">
        <h2 class="mb-0 text-montserrat team-heading-2">Cruz, Ace Von Alfred L.</h2>
        <p class="text-montserrat team-text-2">Data Analyst</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/fajardo.jpg" alt="fajardo.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Fajardo">
        <h2 class="mb-0 text-montserrat team-heading-2">Fajardo, Louise Kaye A.</h2>
        <p class="text-montserrat team-text-2">Documentation Specialist II</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/hilario.jpg" alt="hilario.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Hilario">
        <h2 class="mb-0 text-montserrat team-heading-2">Hilario, Andrew G.</h2>
        <p class="text-montserrat team-text-2">Frontend Developer</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/lumaban.jpg" alt="lumaban.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Lumaban">
        <h2 class="mb-0 text-montserrat team-heading-2">Lumaban, Lemnuel G.</h2>
        <p class="text-montserrat team-text-2">Backend Engineer</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/lumaque.jpg" alt="lumaque.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Lumaque">
        <h2 class="mb-0 text-montserrat team-heading-2">Lumaque, jhericoh Janquill N.</h2>
        <p class="text-montserrat team-text-2">Mobile Developer</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/mahinay.jpg" alt="mahinay.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Mahinay">
        <h2 class="mb-0 text-montserrat team-heading-2">Mahinay, Joanne Kaye F.</h2>
        <p class="text-montserrat team-text-2">Data Analyst II</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/marilao.jpg" alt="marilao.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Marilao">
        <h2 class="mb-0 text-montserrat team-heading-2">Marilao, Justin Troy R.</h2>
        <p class="text-montserrat team-text-2">Software Engineer</p>
      </div>

      <div class="py-4 m-auto text-center col-lg-3 col-md-4 col-sm-6">
        <img src="assets/images/individual/rivera.jpg" alt="rivera.jpg" class="h-auto img-fluid w-75 rounded-circle grow" data-bs-toggle="modal" data-bs-target="#Rivera">
        <h2 class="mb-0 text-montserrat team-heading-2">Rivera, Hannah Joy A.</h2>
        <p class="text-montserrat team-text-2">Software Engineer</p>
      </div>
    </div>
  </div>
</div>

<!-- Medina Modal -->
<div class="modal fade" id="Medina" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/medina.jpg" alt="medina.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Medina, Joshua Merwin V.</h4>
        <p class="text-montserrat team-text">Software Engineer</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          <i>Knowledge is power</i>. And for me, that’s one piece of a puzzle to enjoy life. I uses my technological expertise by serving my clients, whether it be their need for web or mobile app development. In near future I see myself contributing at the technological advancement that will surely help everyone.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          Not just on <i>Object-Oriented Programming</i> but also in <i>Interactive Programming and Technologies</i> subject, Mrs. Fajardo had taught me how will I face the on going tech industry that I'll be facing. Even when I was just starting my freelance career, I remember asking for her guidance and look where I am now, still having that freelance job. I may already in the industry but I'm just getting started and I will do my best to be the best version of myself.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Medina Modal -->

<!-- Ayap Modal -->
<div class="modal fade" id="Ayap" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/ayap.jpg" alt="ayap.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Ayap, Kathleen Shayne</h4>
        <p class="text-montserrat team-text">Documentation Specialist</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          To put everything in place, I always thought that we need to work hard for it and strive for something we want. I think that what keeps me going, the love I have with my family, God and for everything and everyone around me. They are the reason why I chose ICT because it gives me a new environment to work in. Keep Striving, life may be hard, but we’ll get there!
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          Object-oriented programming (OOP), before I thought it is just another subject that we need to take. But, this taught me how to be strong enough to face the challenges brought by online classes. It is very challenging for me to take this because it is a critical one that really requires knowledge and understanding in programming and it is I think what I lack. but, Ma’am Fajardo helped me and my classmates to better understand the topic she discussed. We are free to ask questions anytime. She helped us to think outside the box and work outside our comfort zones. What I learned from her will never be forgotten, so will she.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Ayap Modal -->

<!-- Corales Modal -->
<div class="modal fade" id="Corales" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/corales.jpg" alt="corales.jpg" class="h-auto img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Corales, Mark Reinell S.</h4>
        <p class="text-montserrat team-text">Project Manager</p>
      </div>

      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Hi I am Mark Corales currently 2nd year student studying at Polytechnic University of the Philippines. I am an IT student that is working hard towards my own success. I am the man of reasoning whatever it may seem to others. I give them the reasons why they did that and also I always see the good in every person.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          In OOP I learn different things that’s been helpful to me towards my success. OOP helps me to understand the basics. Although it’s hard, OOP made it enjoyable. I enjoyed every inch of the subject because it caught my attention and interest as an amateur programmer that is dreaming to be a big one someday. 
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Corales Modal -->

<!-- Cruz Modal -->
<div class="modal fade" id="Cruz" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/cruz.jpg" alt="cruz.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Cruz, Ace Von Alfred L.</h4>
        <p class="text-montserrat team-text">Data Analyst</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          As an aspiring Data Analyst, I am in the zone of learning the logistic fields and data science. I desire to learn new things in which I could utilize in preparation for the future of my own and my loved ones. As an insightful person, I can consider myself a fast learner to things I am most interested about. 
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          My experience in Object Oriented Programming as my academic subject helped me as a person in ways that it became a stepping stone towards my better self mentally. It helped me improve my logical and critical thinking. It also helped me manage myself when working under-pressure. About ma’am Ethel Fajardo as my professor on this subject this semester and even in the previous, she was one the reason why and how I improved my mental and emotional self by the way she teaches us practically. She wakes my mental spirit by the way she teaches through her activities/projects for us. Not many of us, her students, may have appreciated her way of teaching but for me, I believe she was an effective academic teacher. Rest in peace.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Cruz Modal -->

<!-- Fajardo Modal -->
<div class="modal fade" id="Fajardo" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/fajardo.jpg" alt="fajardo.jpg" class="h-auto img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Fajardo, Louise Kaye A.</h4>
        <p class="text-montserrat team-text">Documentation Specialist II</p>
      </div>

      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Hi. I am Louise Kaye A. Fajardo and I believe that I am like a butterfly. Someone who start from crawling, someone who hide in a cocoon before she goes out in her comfort zone, someone who undergo a process before spreading her wings and see the beauty in everything. The passion and determination I have will be my armor in conquering my chosen IT field in the future.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          There is no subject that you can learn in one night. There is no one masterpiece that you can create with one paint. There is no talent that you can nurture in one practice. Everything undergoes a process. Everything starts at the starting line.  My takeaway in this subject is to simply start. Learn the basics and the fundamentals. There is nothing wrong being steps behind. What matters is that you keep on learning, and you try and do your best to catch up. What matters is there is a knowledge and principle you carry as you keep moving forward and nurturing your skills.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Fajardo Modal -->

<!-- Hilario Modal -->
<div class="modal fade" id="Hilario" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/hilario.jpg" alt="hilario.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Hilario, Andrew G.</h4>
        <p class="text-montserrat team-text">Frontend Developer</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Hi I am an aspiring Front-end Developer and I want to be a Full-Stack Developer someday. I want to accomplish something that will help the people when it comes into technology. Also, I want to teach them how to design a website or create it. I want them to know that technology is the future of mankind.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          OOP is one of the hardest programming paradigms I encounter. I learned it when I’m in Senior High School and I used it sometimes when I wanted to create some small projects. OOP can be easy if you understand all the technicalities.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Hilario Modal -->

<!-- Lumaban Modal -->
<div class="modal fade" id="Lumaban" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/lumaban.jpg" alt="lumaban.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Lumaban, Lemnuel G.</h4>
        <p class="text-montserrat team-text">Backend Engineer</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Being incompetent student now bores me because of the people around me. Talking about their knowledge in programming and web development which are wider and well developed. I can say that they are the curious ones and here I am, I study just for the sake of subject requirements and activities alone. I can say that I’m very envious of their huge knowledge and this gives me the courage to learn and become eager to understand more about the career I’ve chosen. I might say that I am the type of guy who prepares during a storm and like what always happens is a disaster for me but I always manage to succeed throughout. Even though I aspire to become a successful Software/ Back-End Engineer.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          OOP has many advantages to offer, it helped improve my technical and thinking ability. And because of this subject I learned that my style won’t work anymore. Get prepared as early as possible, learn every inch of the lesson, understand and practice a lot. I understand why Ma’am Fajardo teaches that way but I really can’t easily handle the pressure coming from it, a good pressure I can say but it really works. It helped me a lot, I learned to widen my ability and knowledge from nothing. I’m glad that we’ve crossed paths and let me understand that there’s a lot to learn. Learning should never stop which changed my perspective as what my other competent groupmates gave off.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Lumaban Modal -->

<!-- Lumaque Modal -->
<div class="modal fade" id="Lumaque" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/lumaque.jpg" alt="lumaque.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Lumaque, jhericoh Janquill N.</h4>
        <p class="text-montserrat team-text">Mobile Developer</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Currently a full stack Xamarin Forms Developer at Memosoft Japan. I have successfully designed, developed, and supported live – use applications with more than two years of experience in developing cross – platform mobile applications using Xamarin. A curious man in nature, I strive to be better than my past self.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          Object – oriented programming, also known as OOP, helps me to architect my applications in a much cleaner way. For instance, in Xamarin context, it helps me to abstract a functionality of a view so that the view model can access the defined methods of the said view to adhere to MVVM pattern. Not only does OOP help me architect my app in a cleaner way, but it also helps me to think outside of the box. Knowing OOP teaches me that it is the key to make your software much better, achieve readability, and enhance your logic exponentially.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Lumaque Modal -->

<!-- Mahinay Modal -->
<div class="modal fade" id="Mahinay" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/mahinay.jpg" alt="mahinay.jpg" class="img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Mahinay, Joanne Kaye F.</h4>
        <p class="text-montserrat team-text">Data Analyst II</p>
      </div>
      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          My name is Joanne Kaye Mahinay, a 2nd year college student of Institute of Technology in Polytechnic University of the Philippines taking Diploma in Communication and Technology class 2-1.  The course that I have taken is mostly about technology such as computers and programming. I took this course out of curiosity. Luckily, I’m starting to have interest in it and am still pursuing it because it boosts my logical thinking and it gives an additional knowledge that I can use in the near future, especially that the world of technology is growing at a good pace. 
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          Late Prof. Fajardo discussed the basic knowledge that we need to know about OOP so that we will be familiar with our subject and in creating a program that is OOP based. I have learned that OOP (Object-Oriented Programming) is used to make a software program that is simple and has reusable parts of code which are the classes that are used to create individual instances of objects.
        </p>
        <p class="text-montserrat team-text">
          The way Prof. Fajardo demonstrates it is so effective because she did her best to not let her students be left behind in the lessons. She frequently asks us if we have questions so that we can understand the lesson very well. It’s okay to ask questions about the things that you don’t understand because a student that is asking questions is a student that is eager to learn and may have a great future ahead.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Mahinay Modal -->

<!-- Marilao Modal -->
<div class="modal fade" id="Marilao" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/marilao.jpg" alt="marilao.jpg" class="h-auto img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Marilao, Justin Troy R.</h4>
        <p class="text-montserrat team-text">Software Engineer</p>
      </div>

      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          I'm Justin Troy Marilao, and I'm 19 years old and from Manila. I enjoy programming and creating things using code. I'm highly enthusiastic about this subject and hope to become a Software Engineer in the near future. I enjoy learning new development technologies, and I'm also a very fast learner who grasps new concepts in the themes I'm interested in.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          Object Oriented Programming subject have taught me many lessons. It is both technical or conceptual. In technical terms, OOP has taught me the importance of code reusability and coding in an understandable manner. OOP has changed the way I structure my code because I came from a procedural paradigm like C. The way I write code now is much better than before I learned about the concept of OOP.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Marilao Modal -->

<!-- Rivera Modal -->
<div class="modal fade" id="Rivera" tabindex="-1" aria-hidden="true">
  <div class="p-5 modal-dialog modal-lg bg-custom-gray">
    <div class="mb-1 text-end">
    <button type="button" class="ml-auto btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="my-auto text-center col-lg-4">
        <img src="assets/images/individual/rivera.jpg" alt="rivera.jpg" class="h-auto img-fluid w-75 rounded-circle">
        <h4 class="mb-0 text-montserrat team-heading">Rivera, Hannah Joy A.</h4>
        <p class="text-montserrat team-text">Software Engineer</p>
      </div>

      <div class="pt-4 text-center col-lg-8">
        <p class="text-montserrat team-text">
          Would like to work in an environment where I can showcase and improve my skills and help me to grow in my chosen career and a person. Can adapt and be willing to learn, be trained, and be educated. Have good knowledge in creating spreadsheets, tables, data transformation and cleaning, and using formulae; presentation design; coding and using prototyping tools.
        </p>
        
        <h4 class="pt-4 text-montserrat team-heading">My OOP Reflection</h4>
        <p class="text-montserrat team-text">
          From what I have learned, Object Oriented Programming is about creating data and methods and bringing them together to form an object and class. Advantages of object-oriented programming is that it provides a clear structure of a program and makes the code reusable only showing what is essential that users can understand and hide what is going on behind the curtain.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Rivera Modal -->